/* Styling for form elements */
.login-container header {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 45px;
}

.login-container input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid #ffebd5;
  border-radius: 0%;
  background: transparent;
  font-weight: bold;
  color: #ffebd5;
}
.login-container input a:hover {
  color: #ffebd5;
}
.login-container input::placeholder {
  color: #fed7aa; /* Change this to the color you want */
  font-weight: bold;
}

.login-container a {
  text-decoration: none; /* Removes underline */
  color: #fed7aa;
}

.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background-color: #ffebd5;

  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}

.login-container button a {
  text-decoration: none; /* Removes underline */
  color: #fed7aa;
}

.login-container .transparent-button {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.login-container .transparent-button a {
  font-weight: lighter;
  height: 0px;
}
.login-container .transparent-button a:hover {
  font-weight: 550;
  color: #ffebd5;
}
.login-container label {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: small;
  text-align: flex-end;
  color: #fed7aa;
}

.login-container .input-row {
  display: flex;
  justify-content: space-around;
}

.login-container input[type="file"] {
  display: none;
}

.Navbar {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-size: large;
}

.Navbar a {
  text-decoration: none; /* Removes underline */
  margin: 20px;
  font-weight: bold;
  padding-bottom: 2px; /* Add space for the underline */
}

.Navbar a:hover {
  border-bottom: 4px solid; /* Adds underline on hover */
}

.recipe-container {
  height: 80vh;
  border-radius: 10px;
  border-radius: 15px;
}

.recipe-container header {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 45px;
}

.recipe-container input {
  margin-left: 5px;
  width: 97%;
  /* height: 50px; */
  margin-bottom: 10px;
  border: none;
  /* border-bottom: 2px solid #f97315; */
  border-radius: 10px;
  font-weight: bold;
}
/* .recipe-container input::after {
  content: "";
  display: block;
  width: 50%; /* Adjust this to change the length of the border */
/* height: 2px;
  background: #fed7aa;
  margin: auto;
} */
/* */
.recipe-container input a:hover {
  color: #fed7aa;
}
*/ .recipe-container a {
  text-decoration: none; /* Removes underline */
  color: #fed7aa;
}

.recipe-container button {
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}
.remove-button {
  width: 10%; /* Adjust as needed */
  /* Add any other styles you want for the remove button */
}
.Add-Ingredient-button {
  width: 10%; /* Adjust as needed */
  /* Add any other styles you want for the remove button */
}

.recipe-container button a {
  text-decoration: none; /* Removes underline */
  color: #fed7aa;
}

.recipe-container .transparent-button {
  display: flex;
  align-items: center;
  background-color: transparent;
}

.recipe-container .transparent-button a {
  font-weight: lighter;
}
.recipe-container .transparent-button a:hover {
  font-weight: bold;
}
.recipe-container .instructions {
  width: 50px; /* Adjust this to change the width of the div */
}
.recipe-container label {
  display: flex;
  margin: 0px 0px 0px 10px;
  border-radius: 10px;
  align-items: center;
  font-size: small;
  text-align: center;
}

/* .recipe-container .input-row {
  display: flex;
  justify-content: space-around;
} */

.recipe-container input[type="file"] {
  display: none;
}
#instructions {
  appearance: none;
  border: none;
}
/* .recipe-container textarea {
  border: none;
  border-radius: 7px;
}

.recipe-container textarea::placeholder {
  color: #cc5e12;
} */

.home-container {
  margin: 0;
  padding: 0;
  background-image: url("./images/LBG.png"); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

.loggo {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("./images/BasicLogo.png"); /* Replace with your image URL */
}

.category {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  height: 30px;
  width: 150px;
  box-shadow: none; /* Remove the box shadow */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
}
.category input {
  width: 700px;
  border-radius: 5px;
}

select {
  appearance: none;
  background-color: transparent; /* Set the background color to transparent */
}
